/* Постоянные клиенты */
.clients-list {
  @include centered(flex, space-between, center);
  @media screen and(max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.clients-list__item {
  @media screen and(max-width:479px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and(max-width:767px) {
    &:not(:nth-child(5)),
    &:not(:nth-child(6)) {
      margin-bottom: 30px;
    }
  }
  @media screen and(max-width:1199px) {
    &:not(:nth-child(4)),
    &:not(:nth-child(5)),
    &:not(:nth-child(6)) {
      margin-bottom: 30px;
    }
  }
}

// .clients-list__item {
//   @media screen and(max-width: 1199px) {
//     margin-bottom: 30px;
//   }
// }
// .clients-list__item + .clients-list__item {
//   @media screen and(min-width:1200px) {
//     margin-left: 30px;
//   }
// }

.clients-list__icon {
  width: 210px;
  @media screen and(min-width:768px) and (max-width: 1199px) {
    width: 226px;
  }
  @media screen and(min-width:1200px) {
    width: 170px;
  }
  height: 92px;
  @include centered(block, inherit, inherit);
  fill: #afb1b8;
  border: 2px solid #afb1b8;
  border-radius: 4px;
  transition: fill var(--transition-function), border var(--transition-function);

  &:hover {
    fill: $accent-color;
    border: 2px solid $accent-color;
  }
}
