/* Футер */
.footer {
  @include centered(flex, center, inherit);
  background-color: $footer-bgc;
  padding: 60px 0;
}
.footer > .container {
  @media screen and (min-width: 768px) {
    @include centered(flex, space-between, inherit);
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    flex-wrap: wrap;
    @include centered(flex, space-around, inherit);
  }
}
.logo-address-container,
.social-container {
  @media screen and(max-width:1200px) {
    text-align: center;
    margin-bottom: 60px;
  }
}
.footer-address {
  font-style: normal;
  font-weight: 400;
  color: $white-color;
  margin-top: 20px;
  line-height: 1.53;
}
.footer-address__contacts {
  color: $footer-address-contacts-color;
  margin-top: 9px;
}

.social-container {
  @media screen and(min-width:1200px) {
    margin-left: 70px;
  }
  color: $white-color;
  @extend %boldSubtitle;
  text-transform: uppercase;
}
.social-container__title {
  font-size: 14px;
}

.subscribe-container {
  @media screen and(max-width:1200px) {
    text-align: center;
  }
  @media screen and(min-width:1200px) {
    margin-left: 93px;
  }
}
.subscribe-container__label {
  @include centered(block, inherit, inherit);
  @extend %boldSubtitle;

  color: $white-color;
  font-size: 14px;
  text-transform: uppercase;
}
.subscribe-container__form {
  width: 450px;
  margin-bottom: 20px;
  display: block;
  @media screen and(min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
    display: inline-block;
  }
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-top: 20px;
  font-size: 16px;

  &:focus {
    color: $white-color;
  }
}

.subscribe-container__button {
  @include centered(inline-block, inherit, inherit);
  line-height: 1.875;
  padding: 10px 28px;
  margin-left: 12px;
  color: $white-color;
  background-color: $accent-color;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  font-size: 16px;
  letter-spacing: 0.06em;
  font-weight: 700;
  cursor: pointer;
}
.subscribe-container__icon-send {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 10px;
}
