.projects-list {
  @media screen and(min-width:768px) {
    @include centered(flex, space-between, inherit);
    flex-wrap: wrap;
  }

  margin-top: -30px;
  // margin-left: -30px;
}
.projects-list__item {
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and(min-width:768px) {
    width: 354px;
  }
  @media screen and(min-width:1200px) {
    width: 370px;
  }
  margin-top: 30px;
  transition: box-shadow var(--transition-function);
}
.projects-list__image {
  @include centered(block, inherit, inherit);
  max-width: 100%;
  height: auto;
}
.projects-list__item:hover {
  box-shadow: 0px 4px 4px $logos-buttons-shadow;
}
.projects-list__wrapper {
  position: relative;
  overflow: hidden;
}
.projects-list__overlay {
  height: 294px;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  bottom: -294px;
  color: $white-color;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  margin: 0;
  transition: transform var(--transition-function);
}
.projects-list__item:hover .projects-list__overlay {
  transform: translate(0, -294px);
}
.projects-list__description {
  padding: 20px 24px;
  border-right: 1px solid $card-border-color;
  border-bottom: 1px solid $card-border-color;
  border-left: 1px solid $card-border-color;
}
.projects-list__subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-list__text {
  color: $primery-text-color;
  font-size: 16px;
  line-height: 1.9;
  margin-top: 4px;
}
